<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>

    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>

    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>

    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>

    <PublishDir>bin\Publish\arm64\</PublishDir>
  </PropertyGroup>
</Project>